* {
  box-sizing: border-box;
}

#headertoronto {
  color: goldenrod !important;
}

.bodytorono {
  color: green;
}

/* Group selector */
table,
th,
td {
  border: 2px solid green;
  border-collapse: collapse;
  background-color: yellow;
}

th {
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
}

table {
  width: 100%;
}

.bodytoronoto {
  border: 2px solid orange;

  text-align: center;
  background-color: purple;
  color: white;
  height: 200px;
  width: "auto";
}

body {
  background-color: grey;
}
.container {
  width: 100%;
  background-color: white;
  background-size: cover;

  

}

ul li {
  list-style-type: none;
  padding: 5px;
  color: white;
}
.nav1 {
  display: flex;
}

.headerdiv {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background-color: black;
}

.logotext {
  font-size: 40px;
  color: #fff;
}
i {
  color: #fff;
}

.banner {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 60px;
  height: 400px;
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: #fff;
  font-size: 25px;
}
.description {
  text-align: center;
  width: 50%;
}
.descriptiontext {
  font-size: 20px;
  font-family: "roboto";
  color: #fff;
  font-weight: bolder;
}

.services {
  width: 100%;
  height: 400px;
  padding: 40px;
  display: grid;
  padding-top: 100px;
}

.servicestitle {
  width: 100%;
  justify-content: center;

  display: grid;
}
.serviceslist {
  display: flex;
  width: 60%;

  justify-self: center;

  justify-content: space-between;
  margin-top: 50px;
}

.service1text {
  text-transform: uppercase;
}

.service2text {
  text-transform: uppercase;
}

.service3text {
  text-transform: uppercase;
}
#webdevicon {
  color: black;
  font-size: 50px;
  height: 50px;
}

#webdevicon:hover {
  color: white;
  font-size: 50px;
  height: 50px;
}
.service1,
.service2,
.service3 {
  display: grid;
  width: 33%;
  padding: 30px;
  justify-items: center;
  border: 1px black solid;
  border-radius: 5px;
  color: black;
}

.service1:hover,
.service2:hover,
.service3:hover {
  background-color: black;
  cursor: pointer;
  color: #fff;
}

.aboutus {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.aboutbody {
  height: 400px;
  width: 50%;
  background-color: black;
  padding: 50px;
}

.aboutimage {
  background-image: url("../img/about.png");
  background-size: cover;
  height: 400px;
  width: 50%;
}

.abouttext {
  color: #fff;
}

.aboutbodytext {
  color: #fff;
}

.review {
  width: 100%;
  padding-top: 100px;
  display: grid;
  align-items: center;
  justify-content: center;

  justify-items: center;
}

.reviewtiitle {
  color: black;
  font-size: 24px;
  font-family: "roboto";
  font-weight: 900;
}

.reviewinfo {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;

  padding-top: 100px;
  width: 100%;
  justify-content: space-between;

  color: #fff;
}
.whattheysay {
  align-self: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: grid;
  justify-items: center;
}

.reviewimg {
  border-radius: 50px;
  border: #fff 2px solid;
}

.reviewterm {
  background-color: black;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  width: 48%;
}


.h2add {
  font-size: 15px;
  font-family: 'roboto';
  
}
.listadd{
  color:black;
}
.addli{
  color: black;
}
.contact{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 100px 100px 100px;
  color: black;
  background-color: #ccc;
  margin-top: 100px;
}
.message{
  resize: none;
}

.contactform{
  padding-left: 20px;
}

.contactinfo{
padding-right: 20px;
}


input{
  height: 40px;
  width: 100%;
}


.submit{
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: black;
  border: 1px solid white;
  border-radius: 7px;

}
.footer{
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: black;
  height: 80px;
  color:#fff;
  align-items: center;
}